In [27]:
import pymysql as mdb
import getpass

In [28]:
pwd = getpass.getpass()
con = mdb.connect('localhost', 'root', pwd, 'tweets', charset='utf8mb4', use_unicode=True)
print con
pwd = None

路路路路路路路路
<pymysql.connections.Connection object at 0x7f14d87cad50>

In [26]:
with con.cursor() as cur:
    cur.execute("SET NAMES utf8mb4;")
    cur.execute("SET CHARACTER SET utf8mb4;")
    
    def printtext():
        cur.execute("SELECT text FROM tweets WHERE tweet_id = 'hello8';")
        rows = list(*cur.fetchall())
        print rows
    printtext()
    print u"UPDATE tweets SET text='~~' WHERE tweet_id='hello8';"
    cur.execute(u"UPDATE tweets SET text='~~' WHERE tweet_id='hello8';")
    printtext()

[u'@leightonmixon @TravisJarrell @Faith_Coleman @ArielNicoleRice but catch you guys in a year, still gotta get that highschool diploma ?']
UPDATE tweets SET text='~~' WHERE tweet_id='hello8';
[u'~?~']

In [30]:
with con.cursor() as cur:
    cur.execute(u"SELECT '~~';")
    print list(*cur.fetchall())

[u'~\U0001f605~']

In [1]:
import psycopg2 as ppg

con = ppg.connect("dbname=tweets user=patrick")
print con

ImportError: No module named psycopg2

In [45]:
con.rollback()

In [49]:
with con.cursor() as cur:
    cur.execute("SELECT * FROM tweets WHERE tweet_id = '606494972141903872';")
    print cur.fetchone()[0]

is my fav emoji bc its my life

In [34]:
print con

<connection object at 0x7f14d46ea5c8; dsn: 'dbname=tweets user=patrick', closed: 1>